[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Babel = "*"
flask = "*"
flask-marshmallow = "*"
flask-script = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
Flask-Moment = "*"
flask-wtf = "*"
python-dateutil = "*"
pytz = "*"
sqlalchemy = "*"
psycopg2-binary = "*"

[dev-packages]
pre-commit = "*"
python-dotenv = "*"
ipython = "*"

[requires]
python_version = "3.8"
